<div class="experience">
    <h2>My Professional Journey</h2>
    <p>A track record of delivering innovative solutions across fintech and enterprise applications</p>

    <div class="experience-timeline" *ngFor="let exp of experiences">
        <div class="timeline-item" [ngClass]="exp.side">
            <div class="timeline-connector">
                <div class="connector-line"></div>
            </div>
            <div class="timeline-card">
                <div class="badge" [ngStyle]="{ borderColor: exp.iconColor }">{{ exp.icon }}</div>
                <div class="content">
                    <div class="role-header">
                        <h3 class="role">{{ exp.role }}</h3>
                        <h4 class="company">{{ exp.company }}</h4>
                        <div class="info">
                            <span class="period">
                                <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 ng-tns-c2413526462-25"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" class="ng-tns-c2413526462-25"></path></svg>
                                {{ exp.period }}
                            </span>
                            <span class="location">
                                <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 ng-tns-c2413526462-25"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" class="ng-tns-c2413526462-25"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" class="ng-tns-c2413526462-25"></path></svg>
                                {{ exp.location }}
                            </span>
                        </div>
                    </div>
                    <div class="stack" *ngFor="let stack of exp.technologies">
                        <span>{{ stack }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
