<header class="header">
    <a class="brand">
        <div class="brand-name">Samuel Adeleke</div>
        <div class="brand-title">Frontend Developer</div>
    </a>

    <!-- Menu Toggle -->
    <div class="hamburger" [class.open]="isNavOpen" (click)="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="nav-content" [class.active]="isNavOpen">
        <div class="nav-links">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a routerLink="/projects" routerLinkActive="active">Projects</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
            <a href="../../../assets/ADELEKE _SAMUEL.pdf" target="_blank" routerLinkActive="active">Resume</a>
        </div>
        <div class="theme-toggle" (click)="toggleTheme()" matTooltip="Toggle light mode">
            <mat-icon>light_mode</mat-icon>
        </div>
    </div>
</header>