<header class="header">
    <a class="brand">
        <div class="brand-name">Samuel Adeleke</div>
        <div class="brand-title">Frontend Developer</div>
    </a>

    <!-- Menu Toggle -->
    <div class="hamburger" [class.open]="isNavOpen" (click)="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="nav-content" [class.active]="isNavOpen">
        <div class="nav-links">
            <a class="link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a class="link" routerLink="/projects" routerLinkActive="active">Projects</a>
            <a class="link" routerLink="/contact" routerLinkActive="active">Contact</a>
            <a class="link" href="../../../assets/ADELEKE _SAMUEL.pdf" target="_blank" routerLinkActive="active">Resume</a>
            <a href="http://linkedin.com/in/samreact1" target="_blank" class="linkedin">
                <img src="../../../assets/icons/linkenin.svg" alt="">
                <span>LinkedIn</span>
            </a>
        </div>
        <!-- <div class="theme-toggle" (click)="toggleTheme()" matTooltip="Toggle light mode">
            <mat-icon>light_mode</mat-icon>
        </div> -->
    </div>
</header>