.app-container {
    min-height: 100vh;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: background-color .3s ease, color .3s ease;
    position: relative;
    overflow: hidden;

    app-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        font-family: Sora, serif;
    }

    .whatsapp-float {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        transition: all .5s cubic-bezier(.4, 0, .2, 1);
        animation: zoomInOut 4s infinite;

        svg {
            width: 50px;
            height: 50px;
            color: #25d366;
            filter: drop-shadow(0 0 17.5px rgba(37, 211, 102, .3));
            transition: all .5s cubic-bezier(.4,0,.2,1);
        }
    }
}
.app-container.dark-theme {
    background-color: #1a1a1a;
    color: #fff;
}


@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}