<section class="featured-projects animate in-view .animation-ready">
    <div class="container">
        <h2 class="title">Featured Projects</h2>
        <span>Hover any project to learn more</span>
        <div class="projects-grid">
            <div class="project-preview">
                <div class="project-card">
                    <div class="project-image">
                        <img src="../../../assets/img/olohie.png" alt="Olohie Virtual">
                        <div class="project-overlay">
                            <div class="project-content">
                                <h3>Olohie Virtual</h3>
                                <p>A Virtual Assistant Web App.</p>

                                <div class="tech-stack">
                                    <div class="badges">
                                        <span style="color: rgb(221, 0, 49); background-color: rgba(221, 0, 49, .125);">Angular</span>
                                        <span style="background-color: rgba(49, 120, 198, 0.125); color: rgb(49, 120, 198);">TypeScript</span>
                                        <span style="background-color: rgba(51, 153, 51, 0.125); color: rgb(51, 153, 51);">HTML5 | CSS3</span>
                                        <span style="background-color: rgba(183, 23, 140, 0.125); color: rgb(183, 23, 140);">RxJs</span>
                                    </div>
                                </div>

                                <div class="view-project">
                                    <button routerLink="/projects" fragment="olohie">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-preview">
                <div class="project-card">
                    <div class="project-image">
                        <img src="../../../assets/img/healthcare.png" alt="Health Care">
                        <div class="project-overlay">
                            <div class="project-content">
                                <h3>Patient's Dashboard</h3>
                                <p>A sleek dashboard that makes it easy to access a every patient's information.</p>

                                <div class="tech-stack">
                                    <div class="badges">
                                        <span style="background-color: rgba(158, 198, 49, 0.125); color: rgb(229, 249, 5);">JavaScript</span>
                                        <span style="background-color: rgba(51, 153, 51, 0.125); color: rgb(51, 153, 51);">HTML5 | CSS3</span>
                                    </div>
                                </div>

                                <div class="view-project">
                                    <button routerLink="/projects">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-preview">
                <div class="project-card">
                    <div class="project-image">
                        <img src="../../../assets/img/my-manager.png" alt="My Manager">
                        <div class="project-overlay">
                            <div class="project-content">
                                <h3>My Manager</h3>
                                <p>A modern task management web app that simplifies workflow in an organization.</p>

                                <div class="tech-stack">
                                    <div class="badges">
                                        <span style="background-color: rgba(49, 120, 198, 0.125); color: rgb(49, 120, 198);">TypeScript</span>
                                        <span style="color: rgb(221, 0, 49); background-color: rgba(221, 0, 49, .125);">Angular</span>
                                        <span style="background-color: rgba(51, 153, 51, 0.125); color: rgb(51, 153, 51);">HTML5 | CSS3</span>
                                    </div>
                                </div>

                                <div class="view-project">
                                    <button routerLink="/projects" fragment="manager">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-all-projects">
            <button routerLink="/projects">
                View All Projects
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ng-tns-c2413526462-25"><path d="M17 8l4 4m0 0l-4 4m4-4H3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ng-tns-c2413526462-25"></path></svg>
            </button>
        </div>
    </div>
</section>