/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sora, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body.dark-theme {
    background-color: #f1f5f9;
    color: #0f0f11 !important;
}
body {
    background: #0f0f11;
    color: #f1f5f9 !important;
}


// Define Light Theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  )
));

// Define Dark Theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$cyan-palette),
    accent: mat.define-palette(mat.$purple-palette),
  )
));

@include mat.core();

// Apply themes conditionally using body class
.light-theme {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
